*~
*.a
*.dll
*.dylib
*.exe
*.exp
*.lib
*.map
*.o
*.obj
*.pc
*.pyc
*.so
.*.sw?
*cscope.in.out
*cscope.out
*cscope.po.out
contrib/socket
src/dns
src/spf.c
src/zone.c
regress/20-rr-parse
regress/fuzz_dns
doc/dns.aux
doc/dns.glg
doc/dns.glo
doc/dns.gls
doc/dns.idx
doc/dns.ilg
doc/dns.ind
doc/dns.ist
doc/dns.log
doc/dns.out
doc/dns.pdf
doc/dns.toc
